.dolphinlogo {
    -fx-skin: "com.canoo.dolphin.logo.DolphinLogoSkin";
}

.layer-1-path {
    -fx-fill: black;
    -fx-stroke: transparent;
}

.layer-1-path1 {
    -fx-fill: rgba(102, 153, 255, 1);
    -fx-stroke: transparent;
}

.layer-1-path2 {
    -fx-fill: rgba(207, 0, 58, 1);
    -fx-stroke: transparent;
}

.layer-1-path3 {
    -fx-fill: rgba(102, 153, 255, 1);
    -fx-stroke: transparent;
}



