.button-add {
    margin-bottom: 10px;
}

.dirty {
    border-color: red;
    background-color: #fff7e8;
}

.clean {
    border-color: green;
}

.selected {
    opacity: 1;
}

.unselected {
    opacity: 0.5;
}

.detail-form {
    border-width: 1px;
    border-style: solid;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

body {
    font-family: Arial, Verdana, Tahoma;
    padding-top: 10px;
    padding-left: 10px;
}