.root {
    -fx-background-color: radial-gradient(radius 90%, lightblue, #4a87a9) ;
}

.noBorder:focused {
    -fx-background-color: transparent, -fx-box-border,-fx-control-inner-background;
}

.bottomButton {
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 1;
}

.table-view #portfolios  {
    -fx-background-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.table-row-cell:empty  {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-padding: 0 10 10 0;
}

#dierk {
    -fx-font-size: 18pt;
    -fx-text-fill: #223446;
    -fx-padding: 7 0 6 0;
}

#welcome {
    -fx-font-family: 'Eurostile-Demi';
    -fx-font-size: 36pt;
    -fx-fill: rgba(255, 255, 255, 0.8);
}
