.label {
    -fx-text-fill: white;
}
.tooltip {
    -fx-background-color:firebrick;
}

#header {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
}

.submit {
    -fx-spacing: 10;
}

.form {
    -fx-padding: 25 25 25 25;
    -fx-alignment: top-center;
    -fx-hgap: 5;  /* doesn't work */
    -fx-vgap: 10; /* doesn't work */
}

.tab-pane *.tab-header-background {
    -fx-background-color: linear-gradient( to bottom,
        transparent       30%,
        rgba(0,0,0,0.15) 100%
    );
}

.invalid {
    -fx-text-fill:red;
}

.dirty {
    -fx-text-fill:yellow;
}