
.tooltip {
    -fx-background-color:firebrick;
}
.tooltip > .label {
    -fx-text-fill:   white;
}

#header {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
}

.submit {
    -fx-spacing: 10;
}

.form {
    -fx-background-color: transparent;
    -fx-padding: 25 25 25 25;
    -fx-alignment: top-center;
    -fx-hgap: 5;
    -fx-vgap: 10;
}

/* the > selects only direct label children in the form */
.form  > .label{
    -fx-text-fill:   white;
    -fx-font-weight: bold;
    -fx-font-size:   14;
}

.tab-pane *.tab-header-background {
    -fx-background-color: linear-gradient( to bottom,
        transparent       30%,
        rgba(0,0,0,0.15) 100%
    );
}

.invalid {
    -fx-text-fill:red;
}

.dirty {
    -fx-text-fill:yellow;
}