.root {
    -fx-background-color: radial-gradient(radius 100%, lightblue, #486e8f) ;
}

#master {
    -fx-padding: 20 20 20 20;
}

#detail {
    -fx-padding: 25 25 25 25;
    -fx-alignment: top-center;

    -fx-border-width: 20;
    -fx-border-color: transparent;
    -fx-border-style: solid;

    -fx-background-insets: 20;
    -fx-background-radius: 10;
}

.detail-dirty {
    -fx-background-color: rgba(173,216,230,0.6);
}

/* the > selects only direct label children in the form */
#detail  > .label{
    -fx-text-fill:   white;
    -fx-font-weight: bold;
    -fx-font-size:   14;
}

#master .table-view  {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 5;
    -fx-background-color: rgba(173,216,230,0.2);
    -fx-table-cell-border-color:transparent;
}

#master .table-row-cell:empty  {
    -fx-background-color: transparent;
}

#master .table-row-cell .cell-dirty {
    -fx-border-color: rgb(255, 234, 223);
    -fx-border-width: 1;
    -fx-background-color: rgba(255, 217, 161, 0.5);
}

#no-content {
    -fx-font-family: 'Eurostile-Demi';
    -fx-font-size: 18pt;
    -fx-fill: rgba(255, 255, 255, 0.8);
}

.combo-box-base {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 0, 0, 0;
    -fx-background-insets: 0, 1, 2;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

/*make a transparent background for the combobox popup*/

.combo-box-popup .list-view {
   -fx-background-color        : transparent, rgba(255, 255, 255, 0.4);
   -fx-effect                  : null;
}

.combo-box-popup .list-view .list-cell {
   -fx-padding         : 4 0 4 5;
   -fx-background-color: transparent, rgba(255, 255, 255, 0.4);
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
   -fx-background      : rgba(255, 255, 255, 0.4);
   -fx-background-color: -fx-selection-bar;
   -fx-text-fill       : -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
   -fx-background-color: -fx-cell-hover-color;
   -fx-text-fill       : -fx-text-inner-color;
}

.dot-selected {
    -fx-fill: radial-gradient(center 50% 16%, radius 50%, reflect, papayawhip, rgba(183, 146, 104, 0.9) 80% );
    -fx-effect: dropshadow(one-pass-box, rgba(183, 146, 104, 0.9), 6, 0, 0, 3);
}
.dot-unselected {
    -fx-fill: rgba(42,42,42, 0.2);
}
