/*
   Dummy stylesheet allowing for some customisation without having to
   copy and modify the other stylesheets.
*/

#dolphinlogo {
	background-image: url(../img/dolphin.png);
    background-repeat: no-repeat;
    background-size: contain;
	width:156px;
	height:100px;
    margin: 0;
}