body {
    font-family: Arial, Verdana, Tahoma;
    padding-top: 10px;
    padding-left: 10px;
}

.name {
    font-weight: bold;
    text-align: left;
}

.message {
    text-align: left;
}
.date {
    font-weight: normal;
    font-size: 8pt;
    color: lightgrey;
}